@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto&family=Roboto+Slab:wght@100..900&display=swap');


* {
  font-family: 'Roboto Slab', 'sans-serif';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.name {
  border-radius: 3px;
  border-color: olive;
  border: solid;
  padding: 20px;
}

p {
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
}

nav {
  height: 100px;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  background-color: whitesmoke;
  padding: 20px 40px
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(180deg, rgb(168, 168, 10), olive);
  border-bottom: solid 1px rgb(69, 97, 20);
  color: whitesmoke;
}

.navbar__logo {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.navbar__link--lists {
  display: flex;
  gap: 25px;
  font-size: 16px;
}

.navbar__link--lists a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar__link--lists a:hover {
  text-decoration: underline;
}

.name {
  text-align: center;
  font-size: 60px;
  margin-top: 70px;
}

.intro {
  color: darkolivegreen;
  background-color: whitesmoke;
  padding: 20px 40px;
}

.about__description {
  padding-bottom: 50px;
}

.about {
  font-size: 30px;
  text-align: center;
  padding: 30px 40px;
}

#socials {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  background: linear-gradient(180deg, rgb(168, 168, 10), olive);
  padding: 20px;
  border-bottom: solid 1px darkolivegreen;
  border-top: solid 1px darkolivegreen;
}

.social__media--img img {
  height: auto;
  width: 60px;
  max-width: 100%;
  margin: 15px;
}

.social__media--img {
  display: inline-block;  /* or use block */
  margin: 0;  
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin: 0;           /* Reset margins */

}

.contents__label {
  text-decoration: underline;
  font-size: 25px;
  text-align: left;
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
}

ol li {
  margin: 20px;
  font-size: 20px;
}

#technology {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  background: linear-gradient(180deg, rgb(168, 168, 10), olive);
  padding: 20px;
  border-bottom: solid 1px darkolivegreen;
  border-top: solid 1px darkolivegreen;
}

.technology__title {
  font-size: 40px;
  text-align: center;
  margin: 0px;
  padding: 20px;
  
}

.technology__img img {
  text-align: center;
  height: auto;
  width: 80%;
  max-width: 100%;
  padding: 5px;
}

.technology__img {
  display: flex;
  flex-direction: row;
}

.technology__img--html {
  transition: transform 0.3 ease; 
}

.technology__img--html:hover {
  transform: translateY(-4px);
}

.technology__img--css {
  transition: transform 0.2 ease; 
}

.technology__img--css:hover {
  transform: translateY(-4px);
}

.technology__img--javascript {
  transition: transform 0.2 ease; 
}

.technology__img--javascript:hover {
  transform: translateY(-4px);
}

#projects {
  background-color: whitesmoke;
  margin: 0;
  padding: 10px;
  display: block;
}

.projects__title {
  font-size: 45px;
  color: darkolivegreen;
  padding: 20px;
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font-size: 15px;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
} 

.card h2:hover {
  text-decoration: underline;
}

.card img {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 15px;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.navbar {
  animation: slideIn 3s ease-in-out 1s;
}

#footer {
  background: linear-gradient(180deg, rgb(168, 168, 10), olive);
  color: whitesmoke;
  padding: 50px;
  text-align: center;
}
